.layout-container {
  display: flex;
  height: 100vh;
  width: 100%;
  /* overflow: hidden; */
}

app-sidebar {
  width: 240px;
  min-width: 240px;
}
.content{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-right: 10px;
}

.head{
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.hero {
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
  margin-bottom: 60px;
}

.hero h1 {
  font-size: 3rem;
  font-weight: 700;
  color: #2c2c2c;
  margin-bottom: 0px;
}

.hero p {
  font-size: 1.2rem;
  color: #555;
  max-width: 600px;
  margin: 0 auto;
}


.main-content {
  flex: 1;
  padding: 24px;
  overflow-y: auto;
}

.home-top {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.profile-pic {
  width: 124px;
  height: 124px;
  border-radius: 50%;
  /* margin-right: 16px; */
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 16px;
}

.home-card {
  padding: 16px;
}

.card-grid-custom {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 24px;
  /* margin-top: 32px; */
  padding: 20px;
}

/* .info-card {
  background: #ffffff;
  border: 1px solid #e0e0e0;
  padding: 24px;
  border-radius: 10px;
  transition: box-shadow 0.2s ease;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
} */

.info-card {
  background: rgba(255, 255, 255, 0.15); /* translucent white */
  border: 1px solid rgba(255, 255, 255, 0.25);
  padding: 24px;
  border-radius: 10px;
  transition: box-shadow 0.2s ease;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12px); /* blur for glassmorphic effect */
  color: #fff;
}

.info-card:hover {
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.info-card h3 {
  font-size: 1.2rem;
  margin: 16px 0 8px;
  color: #1a1a1a;
}

.info-card p {
  color: #444;
  font-size: 0.95rem;
}

.info-card a {
  color: #0d6efd;
  font-weight: 500;
  text-decoration: none;
  display: inline-block;
  margin-top: 12px;
}

.info-card a:hover {
  text-decoration: underline;
}

.card-icon {
  font-size: 22px;
  color: #d946ef; /* Customize icon color if needed */
}
